<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h3>todo list</h3>
      </div>
      <div><h1>Tasks</h1></div>
      <div class="buttons">
        <button>Sign In</button>
        <button>Sign Up</button>
      </div>
    </header>
    <form  method="POST">
        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName" required>
      
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
      
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      
        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number">
      
        <input type="submit" value="Submit">
      </form>
    
  </body>
</html>